.title{color:#666666;padding:15px 8px;font-size: 14px;}
.mui-content{width:96%;margin:50px auto;}
.mui-btn-primary{width: 96%;margin: 0 auto;padding: 10px 0;background-color:#FFA726;border: 1px solid #FFA726;}
.mui-button-row{margin-top:35px ;}
.error{color:#E51C23;font-size: 12px;left:20% ;position:absolute;bottom:-30px;display: none;}
.mui-input-group{position: relative;}
label{color:#B6B6B6;font-size: 12px;height: 40px;line-height: 40px;}


.mui-input-group {width:96%;border-radius: 4px; margin: 0px auto;}
.mui-input-row input{border-radius: 4px; border: 0px;} 

.mui-input-group:before,.mui-input-group:after{height:0px;}
.mui-input-group .mui-input-row:after{left: -10px;height: 0px; border-bottom: 1px solid #fafafa;}
.mui-input-group:after{right:10px; left: -10px;}
.mui-input-row label {width:28%;}
